openapi: 3.2.0
info:
  version: '2.0'
  title: ZENSIE Pricing Update API
servers:
- url: https://api.30mhz.com/api
tags:
- name: pricing-update
paths:
  /pricing-update/organization/{organizationId}:
    post:
      tags:
      - pricing-update
      summary: Update a pricing record for an organization
      description: 'Authentication required for this operation.

        Preconditions:

        Authenticated user has to be an admin in the platform.'
      operationId: updatePricing
      parameters:
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
      security:
      - Bearer: []
      responses:
        '200':
          description: Pricing record updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pricing'
            application/zensie-v2+json:
              schema:
                $ref: '#/components/schemas/Pricing'
        '400':
          description: Invalid data in the properties to be updated
        '403':
          description: Not enough permissions to perform the operation
        '404':
          description: A pricing record for that organization doesn't exist
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PricingUpdate'
components:
  schemas:
    PricingUpdate:
      type: object
      properties:
        checks:
          type: object
          description: The values for the checks component of the pricing record.
          additionalProperties:
            type: number
            format: double
        currency:
          type: string
          description: The currency of the pricing record.
        discountPercentage:
          type: number
          format: float
          description: The discount percentage for the pricing record.
        email:
          type: object
          description: The values for the checks component of the pricing record.
          additionalProperties:
            type: number
            format: double
        json:
          type: array
          description: The values for the json hits component of the pricing record.
          items:
            type: object
            additionalProperties:
              type: number
              format: double
        mothers:
          type: object
          description: The values for the mothers component of the pricing record.
          additionalProperties:
            type: number
            format: double
        regular:
          type: array
          description: The values for the regular hits component of the pricing record.
          items:
            type: object
            additionalProperties:
              type: number
              format: double
        sms:
          type: object
          description: The values for the sms component of the pricing record.
          additionalProperties:
            type: number
            format: double
        vatPercentage:
          type: number
          format: float
          description: The VAT (value-added tax) percentage for the pricing record.
      description: PricingUpdate
    Pricing:
      type: object
      properties:
        checks:
          type: object
          description: The values for the checks component of the pricing record.
          additionalProperties:
            type: number
            format: double
        currency:
          type: string
          description: The currency of the pricing record.
        discountPercentage:
          type: number
          format: float
          description: The discount percentage for the pricing record.
        email:
          type: object
          description: The values for the checks component of the pricing record.
          additionalProperties:
            type: number
            format: double
        json:
          type: array
          description: The values for the json hits component of the pricing record.
          items:
            type: object
            additionalProperties:
              type: number
              format: double
        mothers:
          type: object
          description: The values for the mothers component of the pricing record.
          additionalProperties:
            type: number
            format: double
        organizationId:
          type: string
          description: Organization id for the pricing record.
        regular:
          type: array
          description: The values for the regular hits component of the pricing record.
          items:
            type: object
            additionalProperties:
              type: number
              format: double
        sms:
          type: object
          description: The values for the sms component of the pricing record.
          additionalProperties:
            type: number
            format: double
        vatPercentage:
          type: number
          format: float
          description: The VAT (value-added tax) percentage for the pricing record.
      description: Pricing
  securitySchemes:
    Bearer:
      description: ''
      type: apiKey
      name: Authorization
      in: header
