openapi: 3.2.0
info:
  version: '2.0'
  title: ZENSIE Notification Topic Follow Update API
servers:
- url: https://api.30mhz.com/api
tags:
- name: notification-topic-follow-update
paths:
  /notification-topic-follow-update/{notificationTopicId}/user/{email}/organization/{organizationId}:
    post:
      tags:
      - notification-topic-follow-update
      summary: Update an existing notification topic follow
      description: Only organization members and administrators of ZENSIE are authorised to call this operation.
      operationId: updateNotificationTopicFollow
      parameters:
      - name: notificationTopicId
        in: path
        required: true
        schema:
          type: string
      - name: email
        in: path
        required: true
        schema:
          type: string
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
      security:
      - Bearer: []
      responses:
        '201':
          description: Notification topic follow update
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationTopicFollow'
            application/zensie-v2+json:
              schema:
                $ref: '#/components/schemas/NotificationTopicFollow'
        '403':
          description: User not allowed to perform the operation
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NotificationMethods'
components:
  schemas:
    NotificationMethods:
      type: object
      properties:
        methods:
          type: array
          uniqueItems: true
          items:
            type: string
            enum:
            - EMAIL
            - SMS
            - WHATSAPP
    NotificationTopicFollow:
      type: object
      properties:
        email:
          type: string
        methods:
          type: array
          uniqueItems: true
          items:
            type: string
          maxItems: 2147483647
          minItems: 1
        notificationTopicFollowId:
          type: string
        notificationTopicId:
          type: string
        organizationId:
          type: string
      description: Notification topic follow
  securitySchemes:
    Bearer:
      description: ''
      type: apiKey
      name: Authorization
      in: header
