openapi: 3.2.0
info:
  version: '2.0'
  title: ZENSIE Mother Update API
servers:
- url: https://api.30mhz.com/api
tags:
- name: mother-update
paths:
  /mother-update/{motherId}:
    post:
      tags:
      - mother-update
      summary: Updates a mother
      description: Authentication required for this operation.
      operationId: updateMother
      parameters:
      - name: motherId
        in: path
        required: true
        schema:
          type: string
      security:
      - Bearer: []
      responses:
        '200':
          description: Mother updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Mother'
            application/zensie-v2+json:
              schema:
                $ref: '#/components/schemas/Mother'
        '400':
          description: Invalid data in the properties to be updated
        '403':
          description: Not enough permissions to perform the operation
        '404':
          description: A mother with that id doesn't exist
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MotherUpdate'
components:
  schemas:
    Mother:
      type: object
      properties:
        alarmsChecks:
          type: array
          description: The alarms checks ids of the mother.
          uniqueItems: true
          items:
            type: string
        createdAt:
          type: string
          description: The date and time a mother was created.
        deletedAt:
          type: string
          description: The date and time a mother was deleted.
        deployedAt:
          type: string
          description: The date and time a mother was deployed.
        gatewayInfoCheckId:
          type: string
          description: Id of the gateway info check.
        isBillable:
          type: boolean
          description: States if the mother is billable or not.
        jsonEnvironmentVariable:
          type: string
        jsonEnvironmentVariableOnDevice:
          type: boolean
          description: Indicates if the json environment variable was successfully set on the actual device via the resin api call when creating a gateway
        locationName:
          type: string
          description: The mother's location.
        macAddress:
          type: string
          description: The mac address of the mother.
        motherId:
          type: string
          description: Mother id.
        name:
          type: string
          description: Mother's name.
        organizationId:
          type: string
          description: The organization of the mother.
        remarks:
          type: string
          description: The remarks for the mother.
        sqsAccessKey:
          type: string
          description: The mother probe sqs access key.
        sqsSecretKey:
          type: string
          description: The mother probe sqs secret key.
        state:
          type: string
          description: The state of the mother.
        templateId:
          type: string
          description: Mother's template id.
        updatedAt:
          type: string
          description: The date and time a mother was last updated.
        xbeeAddress:
          type: string
          description: The address of the xbee.
      description: Mother
    MotherUpdate:
      type: object
      properties:
        alarmsChecks:
          type: array
          description: The alarms checks ids of the mother.
          uniqueItems: true
          items:
            type: string
        deletedAt:
          type: string
          description: The date and time a mother was deleted.
        deployedAt:
          type: string
          description: The date and time a mother was deployed.
        isBillable:
          type: boolean
          description: States if the mother is billable or not.
        locationName:
          type: string
          description: The mother's location.
        name:
          type: string
          description: Mother's name.
        organizationId:
          type: string
          description: The organization of the mother.
        remarks:
          type: string
          description: The remarks for the mother.
        sqsAccessKey:
          type: string
          description: The mother probe sqs access key.
        sqsSecretKey:
          type: string
          description: The mother probe sqs secret key.
        state:
          type: string
          description: The state of the mother.
        templateId:
          type: string
          description: Mother's template id.
      description: Update Mother properties.
  securitySchemes:
    Bearer:
      description: ''
      type: apiKey
      name: Authorization
      in: header
