openapi: 3.2.0
info:
  version: '2.0'
  title: ZENSIE Location Update API
servers:
- url: https://api.30mhz.com/api
tags:
- name: location-update
paths:
  /location-update/organization/{organizationId}/location/{locationId}:
    post:
      tags:
      - location-update
      summary: Update a site
      description: 'Authentication required for this operation.

        Preconditions:

        Authenticated user has to be owner in the organization.'
      operationId: updateSite
      parameters:
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
      - name: locationId
        in: path
        required: true
        schema:
          type: string
      security:
      - Bearer: []
      deprecated: true
      responses:
        '200':
          description: Site updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Site'
            application/zensie-v2+json:
              schema:
                $ref: '#/components/schemas/Site'
        '403':
          description: Not enough permissions to perform the operation
        '404':
          description: A site with that id doesn't exist
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SiteEditable'
  /location-update/{locationName}:
    post:
      tags:
      - location-update
      summary: Update a location
      description: 'Authentication required for this operation.

        Preconditions:

        Authenticated user has to be owner in the organization, or be an admin in the platform.'
      operationId: updateLocation
      parameters:
      - name: locationName
        in: path
        required: true
        schema:
          type: string
      security:
      - Bearer: []
      deprecated: true
      responses:
        '200':
          description: Location updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Location'
            application/zensie-v2+json:
              schema:
                $ref: '#/components/schemas/Location'
        '400':
          description: Invalid data in the properties to be updated
        '403':
          description: Not enough permissions to perform the operation
        '404':
          description: A location with that name doesn't exist
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LocationEditable'
components:
  schemas:
    DataSourceCoordinates:
      type: object
      required:
      - dataSourceId
      - sinceDate
      properties:
        coordinateX:
          type: number
          format: double
          description: X coordinate in space
        coordinateY:
          type: number
          format: double
          description: Y coordinate in space
        sinceDate:
          type: string
          description: UTC ISO 8601 timestamp since when, e.g 2024-11-12T15:00:00Z.
        dataSourceId:
          type: string
          description: Identifier of the data source
        geoJson:
          type: object
          description: GeoJson definition.
          additionalProperties:
            type: object
        zoneName:
          type: string
          description: Name of the zone
        zoneUuid:
          type: string
          description: Unique identifier of the zone
      description: Coordinates of a data source since a given timestamp.
    Notification:
      type: object
      required:
      - notificationId
      properties:
        action:
          type: string
          description: Description of the action to take when the notification is triggered.
        calculationSettings:
          description: The calculation configuration
          $ref: '#/components/schemas/CalculationSettings'
        checkId:
          type: string
          description: Identifier of the check.
        condition:
          type: string
          description: Conditional that defines the trigger of this notification
        description:
          type: string
          description: Description of the notification
        eventHook:
          description: Event hook of the notification
          $ref: '#/components/schemas/EventHook'
        matchAfter:
          type: integer
          format: int32
          description: Match after attribute
          minimum: 0
        throttleFor:
          type: integer
          format: int64
          description: The amount of time in milliseconds to throttle notifications
          minimum: 0
        check:
          description: Summary of the check that is linked to this notification
          $ref: '#/components/schemas/CheckSummary'
        createdBy:
          type: string
          description: Identifier of the user that created this notification
        creationTimestamp:
          type: integer
          format: int64
          description: Timestamp of when the notification was created
        matched:
          type: boolean
          description: Matched attribute
        matchedFor:
          type: integer
          format: int32
          description: Matched for attribute
        matchedLastNotifiedAt:
          type: integer
          format: int64
          description: When the last matched notification was sent
        notificationId:
          type: string
          description: Identifier of this notification object.
        nrMatched:
          type: integer
          format: int32
          description: Number of matches attribute
        organizationId:
          type: string
          description: Identifier of the organization for which this notification is created
        resolvedLastNotifiedAt:
          type: integer
          format: int64
          description: When the last resolved notification was sent
        structuredConditional:
          type: array
          description: List of structured conditionals that defines the trigger event of this notification.
          items:
            $ref: '#/components/schemas/StructuredConditional'
        widgetIds:
          type: array
          description: List of structured conditionals that defines the trigger event of this notification.
          uniqueItems: true
          items:
            type: string
      description: Holds the editable properties of a Notification
    ImportCheck:
      type: object
      required:
      - name
      - notificationIds
      - notificationRelevance
      - notifications
      - sensorType
      - timezone
      properties:
        calculationSettings:
          description: The calculation settings if this is a calculation data source.
          $ref: '#/components/schemas/CalculationSettings'
        decimalsPerField:
          type: object
          description: The number of decimals used for each field of the data source.
          additionalProperties:
            type: integer
            format: int32
        description:
          type: string
          description: Brief description that elaborates on the name
        enabled:
          type: boolean
          description: Whether the data source is enabled.
        ingestedForIndices:
          type: object
          description: The data source's indexes for ingested values
          additionalProperties:
            type: array
            items:
              type: string
        integrationType:
          type: string
          description: Integration type.
        locationId:
          type: string
          description: Identifier of the site it belongs to, together with the organizationId this is unique.
        name:
          type: string
          description: Displayable name.
        notificationRelevance:
          type: integer
          format: int32
          description: The notification relevance for import check hits.
          minimum: 300
        rangePerJsonKey:
          type: object
          description: Min/max ranges for each json key of the data source.
          additionalProperties:
            type: array
            items:
              type: number
              format: double
        sensorType:
          type: string
          description: The sensor type.
        sourceId:
          type: string
          description: Optional source id.
        status:
          type: string
          description: The status of the data source, e.g. ACTIVE, DEACTIVATED or PAUSED.
          enum:
          - ACTIVE
          - DEACTIVATED
          - PAUSED
        tags:
          type: array
          description: The tags associated with the data source.
          uniqueItems: true
          items:
            type: string
        timezone:
          type: string
          description: An area which observes a uniform standard time.
        unitPerField:
          type: object
          description: Identifier of the preferred unit conversion for each field.
          additionalProperties:
            type: string
        useCollectionsAsRows:
          type: boolean
          description: Whether collections should be displayed as rows.
        zoneId:
          type: string
          description: Identifier of the zone within a site where the data source belongs.
        createdAt:
          type: string
          description: Timestamp of when it was created.
        cultivationHierarchyId:
          type: string
          description: 'Cultivation composite identifier of format: <cultivationId>#<plantGroupId>##<plantId>'
        dataSourceCoordinateHistory:
          type: array
          items:
            $ref: '#/components/schemas/DataSourceCoordinates'
        dataSourceCoordinates:
          $ref: '#/components/schemas/DataSourceCoordinates'
        notificationIds:
          type: array
          description: Ids of the notifications for this check
          items:
            type: string
        notifications:
          type: array
          description: The notifications set for this sensor.
          items:
            $ref: '#/components/schemas/Notification'
        organizationId:
          type: string
          description: Identifier of the organization this data source belongs to.
        state:
          type: string
          description: 'The current state of the data source: UP or DOWN.'
        checkId:
          type: string
          description: Identifier of the data source
        collections:
          type: array
          description: Optional collections within data source data
          items:
            $ref: '#/components/schemas/CheckCollection'
        hasNotifications:
          type: boolean
          description: Does the data source have any notifications associated with it
        maxDecimals:
          type: integer
          format: int32
          description: Max decimals for fields of the data source.
        siteId:
          type: string
          description: Identifier of the site it belongs to, together with the organizationId this is unique.
      description: Import check properties
    Location:
      type: object
      properties:
        alarmsChecks:
          type: array
          description: The alarms checks ids of the location.
          uniqueItems: true
          items:
            type: string
        companyDetailsId:
          type: string
          description: The id of the company details.
        description:
          type: string
          description: Location's description.
        gatewayClusterId:
          type: string
          description: Location's gateway cluster id
        icon:
          type: string
        latitude:
          type: number
          format: double
          description: Location’s latitude
        longitude:
          type: number
          format: double
          description: Location’s longitude
        motherIds:
          type: array
          uniqueItems: true
          items:
            type: string
          maxItems: 2147483647
          minItems: 1
        owner:
          type: string
        timezone:
          type: string
          description: Location’s timezone
        name:
          type: string
          description: Location's name.
        access:
          type: string
        companyDetails:
          description: The company details.
          $ref: '#/components/schemas/CompanyDetails'
        organizationId:
          type: string
          description: The organization the location belongs to.
        panId:
          type: string
        region:
          type: string
          description: Location's region.
        sc:
          type: string
      description: Monitoring location properties
    Check:
      type: object
      required:
      - checkId
      - enabled
      - frequency
      - hasNotifications
      - healthyThreshold
      - locationThreshold
      - maxReminders
      - method
      - name
      - notificationIds
      - notifications
      - organizationId
      - recentlyDownAt
      - remindEvery
      - state
      - statusCodes
      - timeout
      - unhealthyThreshold
      - url
      properties:
        allowRedirects:
          type: boolean
          description: Whether to follow redirects when a page returns HTTP code 302. Default is false.
        calculationId:
          type: string
          description: The id of the calculation called by the webcheck
        collectJson:
          type: boolean
          description: If the recollection of the JSON object has to be effectuated or not
        conditional:
          type: string
          description: A javascript expression that is applied to the json result and has to evaluate to true for the data source to be UP.
        contains:
          type: string
          description: Verify that the page returned contains this text, otherwise the data source will be reported as DOWN.
        containsNot:
          type: string
          description: Verify that the page returned does NOT contain this text, if it does, the data source will be reported as DOWN.
        cookies:
          type: string
          description: Send these cookies in each request when pinging the data source. You can use this, for example, for adding authentication data.
        cron:
          type: string
          description: Only run this data source in the given schedule. This is written in Unix-like notation. For example, to run it only weekdays 8 to 17, write '* * 8-17 ? * MON-FRI'
        data:
          type: string
          description: Payload to send, usually for POST or PUT methods
        decimalsPerField:
          type: object
          description: The number of decimals used for each field of the data source.
          additionalProperties:
            type: integer
            format: int32
        description:
          type: string
          description: Brief description that elaborates on the name
        email:
          type: string
          description: Email address.
        enabled:
          type: boolean
          description: Whether the data source is enabled.
        frequency:
          type: integer
          format: int32
          description: The frequency with which the data source is pinged, in seconds.
        gatewayId:
          type: string
          description: Identifier of the gateway the data source belongs to.
        headers:
          type: string
          description: Send these HTTP headers in each request when pinging the data source. You can use this, for example, for adding authentication data.
        healthyThreshold:
          type: integer
          format: int32
          description: How many consecutive successful responses indicate that the data source is up.
        locationThreshold:
          type: integer
          format: int64
          description: How many locations indicate the data source is up/down.
        locations:
          type: array
          description: From which locations to ping the data source from.
          uniqueItems: true
          items:
            type: string
        maxDecimals:
          type: integer
          format: int32
          description: Max decimals for fields of the data source.
        maxReminders:
          type: integer
          format: int32
          description: The maximum number of times you want to be notified if DOWN.
        method:
          type: string
          description: HTTP method (get/post/put/delete) to user for pinging the data source
        name:
          type: string
          description: Displayable name.
        organizationId:
          type: string
          description: Identifier of the organization this data source belongs to.
        params:
          type: string
          description: Send these HTTP parameters in each request when pinging the data source.
        remindEvery:
          type: integer
          format: int32
          description: Every how many seconds to send another notification if data source is still DOWN. (See also Number of reminders).
        sensorType:
          type: string
          description: The sensor type.
        siteId:
          type: string
          description: Identifier of the site it belongs to, together with the organizationId this is unique.
        status:
          type: string
          description: The status of the data source, e.g. ACTIVE, DEACTIVATED or PAUSED.
          enum:
          - ACTIVE
          - DEACTIVATED
          - PAUSED
        statusCodes:
          type: array
          description: What HTTP status code are expected when pinging the data source. If the received HTTP status is not in this list, the data source will be reported as DOWN.
          uniqueItems: true
          items:
            type: integer
            format: int32
          maxItems: 2147483647
          minItems: 1
        stream:
          type: boolean
          description: Whether the stream is enabled for the response validation
        tags:
          type: array
          description: The tags associated with the data source.
          uniqueItems: true
          items:
            type: string
        timeout:
          type: integer
          format: int32
          description: How long we wait for the data source to respond before we consider it down.
        timezone:
          type: string
          description: An area which observes a uniform standard time.
        unhealthyThreshold:
          type: integer
          format: int32
          description: How many consecutive failed responses indicate that the data source is down.
        units:
          type: array
          description: The units associated with the sensor data source.
          uniqueItems: true
          items:
            type: string
        url:
          type: string
          description: The URL of the data source.
        verify:
          type: boolean
          description: Whether SSL verification is enabled.
        zoneId:
          type: string
          description: Identifier of the zone within a site where the data source belongs.
        rangePerJsonKey:
          type: object
          description: Min/max ranges for each json key of the data source.
          additionalProperties:
            type: array
            items:
              type: number
              format: double
        timezoneOffset:
          type: integer
          format: int64
          description: Offset of the timezone in minutes.
        batteryStatus:
          type: string
          description: The battery status warnings or errors associated with this data source. Expected values are OK, WARNING and CRITICAL.
        checkId:
          type: string
          description: Identifier of the data source
        createdAt:
          type: string
          description: Timestamp of when it was created.
        dataSourceCoordinateHistory:
          type: array
          description: A collection of all positions of this data source.
          items:
            $ref: '#/components/schemas/DataSourceCoordinates'
        dataSourceCoordinates:
          description: A set of numbers that represent the current position of a data source
          $ref: '#/components/schemas/DataSourceCoordinates'
        hasNotifications:
          type: boolean
          description: Does the data source have any notifications associated with it
        notificationIds:
          type: array
          description: Ids of the notifications for this check
          items:
            type: string
        notifications:
          type: array
          description: The notifications set for this sensor.
          items:
            $ref: '#/components/schemas/Notification'
        recentlyDownAt:
          type: number
          format: double
          description: Last moment when the data source was DOWN, as a Unix Timestamp
        state:
          type: string
          description: 'The current state of the data source: UP or DOWN.'
        owner:
          type: string
          description: Email address.
      description: A check
    Site:
      type: object
      required:
      - address
      - id
      - name
      - subscriptionId
      properties:
        address:
          description: The particulars of the place where this object is located.
          $ref: '#/components/schemas/Address'
        billableSince:
          type: string
          description: Date since the site is billable in UTC, e.g. 2020-12-24T18:51:31Z
          pattern: \d{4}-[01]\d-[0-3]\dT[0-2]\d:[0-5]\d:[0-5]\d([+-][0-2]\d:[0-5]\d|Z)
        contractLength:
          type: integer
          format: int32
          description: Number of months from the start date through which the contract is effective.
        latitude:
          type: number
          format: double
          description: Angular distance north or south of the equator.
          minimum: -90
          maximum: 90
        longitude:
          type: number
          format: double
          description: Angular distance east or west of the prime meridian.
          minimum: -180
          maximum: 180
        name:
          type: string
          description: Set of words by which a site is known.
        subscriptionId:
          type: string
          description: Unique identifier for the subscription.
        timezone:
          type: string
          description: An area which observes a uniform standard time.
        aerialImageDataUploadId:
          type: string
          description: Id of the aerial image data upload.
        aerialImagePresignedUrl:
          type: string
          description: Presigned URL of the aerial image.
        deactivatedAt:
          type: string
          description: UTC ISO 8601 timestamp of deactivation, e.g. e.g 2023-12-12T15:00:00Z.
        externalSensors:
          type: array
          description: External sensors in the location.
          items:
            $ref: '#/components/schemas/ImportCheck'
        gateways:
          type: array
          description: The gateways in this site.
          items:
            $ref: '#/components/schemas/Gateway'
        id:
          type: string
          description: Identifier of the site it belongs to, together with the organizationId this is unique.
        internalSensors:
          type: array
          description: Internal sensors in the location.
          items:
            $ref: '#/components/schemas/Check'
        organizationId:
          type: string
          description: Unique identifier for the organization, preferably a readable text such as the domain name of the company.
        status:
          type: string
          description: Current status of the site.
          enum:
          - ACTIVE
          - DELETED
          - INACTIVE
          - PENDING
        urlPathIdentifier:
          type: string
          description: URL friendly identifier of the site based on the name of the site.
        uuid:
          type: string
          description: Universally unique identifier.
        zones:
          type: array
          description: Zones in the site.
          items:
            $ref: '#/components/schemas/Zone'
        isActive:
          type: boolean
          description: Whether it is active or deactivated.
      description: A customer's physical location where data (sensors, devices and integrations) belong.
    CompanyDetails:
      type: object
      required:
      - active
      properties:
        accountManager:
          type: string
          description: CompanyDetails's account manager.
        active:
          type: boolean
          description: The state of the company detail
        address:
          type: string
          description: The address of the company details
        city:
          type: string
          description: The city of the company details
        companyDetailsId:
          type: string
          description: Company details id
        companyName:
          type: string
          description: The company name of the company details
        country:
          type: string
          description: The country of the company details
        countryCode:
          type: string
          description: The code of the country of the company details
        debtorId:
          type: integer
          format: int32
          description: The debtor id of the company details
        invoiceEmail:
          type: string
          description: CompanyDetails's invoice email.
        organizationId:
          type: string
          description: The organization id of the company details
        postalCode:
          type: string
          description: The postal code of the company details
        telephoneNumber:
          type: string
          description: The address of the company details
        vatNumber:
          type: string
          description: The vat number of the company details
    CalculationSettings:
      type: object
      required:
      - inputParams
      properties:
        calculationId:
          type: string
          description: Unique identifier for the calculation
        inputParams:
          type: object
          description: A map of the necessary input parameters and their type for performing the calculation
          additionalProperties:
            type: object
      description: Settings used to perform a calculation.
    SensorField:
      type: object
      properties:
        checkId:
          type: string
          description: The id of the check this field belongs to.
        id:
          type: string
          description: Which field of the sensor to retrieve data for.
        unit:
          type: string
          description: The unit in which to retrieved the values. Defaults to system unit.
    EventHook:
      type: object
      required:
      - method
      - url
      properties:
        headers:
          type: object
          description: Headers of the HTTP request
          additionalProperties:
            type: object
        method:
          type: string
          description: Method of the HTTP request
        payload:
          type: object
          description: Payload of the HTTP request
          additionalProperties:
            type: object
        url:
          type: string
          description: Url of the HTTP request
    Zone:
      type: object
      required:
      - id
      - name
      - organizationId
      - siteId
      properties:
        color:
          type: string
          description: Color of the zone in the map
        cropId:
          type: string
          description: Zone's crop type.
        floorArea:
          type: number
          format: double
          description: Zone's floor area in m2.
        name:
          type: string
          description: Name of the zone
        soilId:
          type: string
          description: Zone's soil type id.
        crop:
          description: The crop being grown in this zone.
          $ref: '#/components/schemas/Crop'
        geoJson:
          type: object
          description: GeoJson definition.
          additionalProperties:
            type: object
        id:
          type: string
          description: Identifier of the zone within the site
        organizationId:
          type: string
          description: Unique identifier for the organization, preferably a readable text such as the domain name of the company.
        siteId:
          type: string
          description: Identifier of the site it belongs to, together with the organizationId this is unique.
        soil:
          description: The soil this zone uses.
          $ref: '#/components/schemas/Soil'
        uuid:
          type: string
          description: Universally unique identifier.
      description: A Zone is a physical subsection in a site.
    Crop:
      type: object
      required:
      - category
      - cropId
      - maxAllowableDepletion
      properties:
        category:
          type: string
          description: Category of the crop.
        maxAllowableDepletion:
          type: number
          format: double
          description: Suggested theoretical Maximum Allowable Depletion (MAD) of the crop.
          minimum: 0
          maximum: 100
        name:
          type: string
          description: Name of the crop.
        createdAt:
          type: integer
          format: int64
          description: The date and time the crop was created.
        cropId:
          type: string
          description: Id of the crop.
        organizationId:
          type: string
          description: The organization the crop belongs to.
    SiteEditable:
      type: object
      properties:
        address:
          description: The particulars of the place where this object is located.
          $ref: '#/components/schemas/Address'
        billableSince:
          type: string
          description: Date since the site is billable in UTC, e.g. 2020-12-24T18:51:31Z
          pattern: \d{4}-[01]\d-[0-3]\dT[0-2]\d:[0-5]\d:[0-5]\d([+-][0-2]\d:[0-5]\d|Z)
        contractLength:
          type: integer
          format: int32
          description: Number of months from the start date through which the contract is effective.
        latitude:
          type: number
          format: double
          description: Angular distance north or south of the equator.
          minimum: -90
          maximum: 90
        longitude:
          type: number
          format: double
          description: Angular distance east or west of the prime meridian.
          minimum: -180
          maximum: 180
        name:
          type: string
          description: Set of words by which a site is known.
        subscriptionId:
          type: string
          description: Unique identifier for the subscription.
        timezone:
          type: string
          description: An area which observes a uniform standard time.
      description: Object that contains the editable properties of a Site
    Gateway:
      type: object
      properties:
        alarmsChecks:
          type: array
          description: The alarms checks ids of the gateway.
          uniqueItems: true
          items:
            type: string
        fleetManagerDeviceId:
          type: string
          description: The fleet manager id.
        gatewayClusterId:
          type: string
          description: The gateway cluster id.
        gatewayInfoCheckId:
          type: string
          description: Id of the gateway info check.
        isBillable:
          type: boolean
          description: States if the gateway is billable or not.
        name:
          type: string
          description: Gateway name
        organizationId:
          type: string
          description: The organization of the gateway.
        remarks:
          type: string
          description: The remarks for the gateway.
        siteId:
          type: string
          description: The site of the gateway.
        state:
          type: string
          description: The state of the gateway.
        templateId:
          type: string
          description: Gateway's template id.
        gatewayId:
          type: string
          description: Gateway Id.
        macAddress:
          type: string
          description: The mac address of the gateway.
        monitoringCheckId:
          type: string
          description: Id of the gateway monitoring check.
        xbeeAddress:
          type: string
          description: The address of the xbee.
        createdAt:
          type: string
          description: The date and time a gateway was created.
        deletedAt:
          type: string
          description: The date and time a gateway was deleted.
        deletedBy:
          type: string
          description: User that deleted the gateway.
        deployedAt:
          type: string
          description: The date and time a gateway was deployed.
        jsonEnvironmentVariableOnDevice:
          type: boolean
          description: Indicates if the json environment variable was successfully set on the actual device via the resin api call when creating a gateway
        updatedAt:
          type: string
          description: The date and time a gateway was last updated.
    StructuredConditional:
      type: object
      properties:
        aggregationType:
          type: string
          description: The type of aggregation.
        checkFields:
          type: array
          description: List of fields represented by the check id and field name
          items:
            $ref: '#/components/schemas/SensorField'
        interval:
          type: string
          description: The time interval to aggregate over.
        key:
          type: string
          description: Key of the structured conditional
        operator:
          type: string
          description: Operator of the conditional
        operatorType:
          type: string
          description: Operator type of the conditional
          enum:
          - COMPARISON
          - LOGICAL
        value:
          type: string
          description: Value of the key given the operator
    Address:
      type: object
      properties:
        city:
          type: string
          description: Human settlement of notable size.
        country:
          type: string
          description: A nation, a body of land with one government.
        countryCode:
          type: string
          description: Short alphanumeric identification code for countries and dependent areas, e.g. NL
        number:
          type: string
          description: The number on a street of a particular address.
        postalCode:
          type: string
          description: A series of letters and/or digits for the purpose of sorting mail, e.g. '3011 GK'.
        street:
          type: string
          description: A public road in a city.
      description: The particulars of the place where this object is located.
    CheckCollection:
      type: object
      properties:
        collectionId:
          type: string
          description: Id of the collection
        name:
          type: string
          description: Name of the collection
        order:
          type: integer
          format: int32
          description: The position within all the collections
    Soil:
      type: object
      required:
      - category
      - permanentWiltingPoint
      - soilId
      - totalAvailableWater
      properties:
        category:
          type: string
          description: Category of the soil.
        fieldCapacity:
          type: number
          format: double
          description: Field capacity of the soil.
          minimum: 0
          maximum: 100
        name:
          type: string
          description: Name of the soil.
        permanentWiltingPoint:
          type: number
          format: double
          description: Permanent wilting point of the soil.
          minimum: 0
          maximum: 100
        createdAt:
          type: integer
          format: int64
          description: The epoch millis of the creation time.
        organizationId:
          type: string
          description: The organization the soil belongs to.
        soilId:
          type: string
          description: Id of the soil.
        totalAvailableWater:
          type: number
          format: double
          description: Total available water of the soil.
          readOnly: true
    LocationEditable:
      type: object
      properties:
        alarmsChecks:
          type: array
          description: The alarms checks ids of the location.
          uniqueItems: true
          items:
            type: string
        companyDetailsId:
          type: string
          description: The id of the company details.
        description:
          type: string
        gatewayClusterId:
          type: string
          description: Location's gateway cluster id
        icon:
          type: string
        latitude:
          type: number
          format: double
          description: Location’s latitude
        longitude:
          type: number
          format: double
          description: Location’s longitude
        motherIds:
          type: array
          uniqueItems: true
          items:
            type: string
          maxItems: 2147483647
          minItems: 1
        owner:
          type: string
        timezone:
          type: string
          description: Location’s timezone
    CheckSummary:
      type: object
      properties:
        calculationSettings:
          $ref: '#/components/schemas/CalculationSettings'
        checkId:
          type: string
        collections:
          type: array
          items:
            $ref: '#/components/schemas/CheckCollection'
        cultivationHierarchyId:
          type: string
        decimalsPerField:
          type: object
          additionalProperties:
            type: integer
            format: int32
        enabled:
          type: boolean
        locations:
          type: array
          uniqueItems: true
          items:
            type: string
        maxDecimals:
          type: integer
          format: int32
        name:
          type: string
        organizationId:
          type: string
        rangePerJsonKey:
          type: object
          additionalProperties:
            type: array
            items:
              type: number
              format: double
        sensorType:
          type: string
        timezone:
          type: string
        timezoneOffset:
          type: integer
          format: int64
        units:
          type: array
          uniqueItems: true
          items:
            type: string
      description: Summary of a check
  securitySchemes:
    Bearer:
      description: ''
      type: apiKey
      name: Authorization
      in: header
