openapi: 3.2.0
info:
  version: '2.0'
  title: ZENSIE Customer Request Item API
servers:
- url: https://api.30mhz.com/api
tags:
- name: customer-request-item
paths:
  /customer-request-item/{customerRequestItemId}:
    get:
      tags:
      - customer-request-item
      summary: Returns the customer request item with the specified id
      description: The authenticated user must be an administrator.
      operationId: getCustomerRequestItemById
      parameters:
      - name: customerRequestItemId
        in: path
        required: true
        schema:
          type: string
      security:
      - Bearer: []
      responses:
        '200':
          description: The quote item with the given id.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerRequestItem'
            application/zensie-v2+json:
              schema:
                $ref: '#/components/schemas/CustomerRequestItem'
        '403':
          description: Not enough permissions to perform the operation
    delete:
      tags:
      - customer-request-item
      summary: Remove customer request item
      description: The authenticated user must be an administrator.
      operationId: removeQuote
      parameters:
      - name: customerRequestItemId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: array
          items:
            type: string
      security:
      - Bearer: []
      responses:
        '200':
          description: Customer request item has been removed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerRequestItem'
            application/zensie-v2+json:
              schema:
                $ref: '#/components/schemas/CustomerRequestItem'
        '403':
          description: Not enough permissions to perform the operation
        '404':
          description: The customer request item not found.
  /customer-request-item:
    post:
      tags:
      - customer-request-item
      summary: Add a new customer request items
      description: The authenticated user must be an administrator.
      operationId: addCustomerRequestItem
      security:
      - Bearer: []
      responses:
        '200':
          description: Customer request items added
        '403':
          description: Not enough permissions to perform the operation
        '404':
          description: Organization does not exist
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/NewCustomerRequestItem'
          application/xml:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/NewCustomerRequestItem'
components:
  schemas:
    CustomerRequestItem:
      type: object
      required:
      - lineTotal
      - unitPrice
      - units
      properties:
        configuration:
          type: object
          description: Customer request item configuration
          additionalProperties:
            type: string
        createdAt:
          type: string
          description: The date and time a quote item was created.
        customerRequestId:
          type: string
          description: Customer request id.
        customerRequestItemId:
          type: string
          description: Customer request item id.
        description:
          type: string
          description: The description for the quote item.
        lineTotal:
          type: number
          format: float
          description: CustomerRequest item's line total.
        motherIds:
          type: array
          description: The mother id for the quote item.
          uniqueItems: true
          items:
            type: string
        productId:
          type: string
          description: The product id for the quote item.
        status:
          type: string
          description: The status of the quote item.
        unitPrice:
          type: number
          format: float
          description: CustomerRequest item's unit price.
        units:
          type: integer
          format: int32
          description: CustomerRequest item's units.
        updatedAt:
          type: string
          description: The date and time a quote item was last updated.
      description: CustomerRequestItem
    NewCustomerRequestItem:
      type: object
      required:
      - unitPrice
      - units
      properties:
        configuration:
          type: object
          additionalProperties:
            type: string
        description:
          type: string
        productId:
          type: string
        status:
          type: string
        unitPrice:
          type: number
          format: float
        units:
          type: integer
          format: int32
        customerRequestId:
          type: string
  securitySchemes:
    Bearer:
      description: ''
      type: apiKey
      name: Authorization
      in: header
