openapi: 3.2.0
info:
  version: '2.0'
  title: ZENSIE Map API
servers:
- url: https://api.30mhz.com/api
tags:
- name: Map
paths:
  /map:
    put:
      tags:
      - Map
      summary: Bulk edit zones and data source coordinates on the map for a site within an…
      description: Authentication required for this operation.
      operationId: putMap
      security:
      - Bearer: []
      responses:
        '204':
          description: Map has been updated
        '400':
          description: Invalid data in the properties to be patched.
        '403':
          description: User must be authenticated.
        '404':
          description: Data source not found.
        '500':
          description: Error while updating the map.
        '501':
          description: Not yet implemented feature of the bulk edit.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MapEditable'
    patch:
      tags:
      - Map
      summary: Bulk edit zones and data source coordinates on the map for a site within an…
      description: Authentication required for this operation.
      operationId: patchMap
      security:
      - Bearer: []
      responses:
        '204':
          description: Map has been updated
        '400':
          description: Invalid data in the properties to be patched.
        '403':
          description: User must be authenticated.
        '404':
          description: Data source not found.
        '500':
          description: Error while updating the map.
        '501':
          description: Not yet implemented feature of the bulk edit.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MapEditable'
components:
  schemas:
    DataSourceBulkEdit:
      type: object
      required:
      - dataSourceId
      properties:
        dataSourceCoordinatesEditable:
          description: A set of numbers that represent the current position of a data source
          $ref: '#/components/schemas/DataSourceCoordinatesEditable'
        dataSourceId:
          type: string
          description: Identifier of the data source
        decimalsPerField:
          type: object
          description: The number of decimals used for each field of the data source.
          additionalProperties:
            type: integer
            format: int32
        description:
          type: string
          description: Brief description that elaborates on the name
        enabled:
          type: boolean
          description: Whether the data source is enabled.
        name:
          type: string
          description: Displayable name.
        rangePerJsonKey:
          type: object
          description: Min/max ranges for each json key of the data source.
          additionalProperties:
            type: array
            items:
              type: number
              format: double
        sensorType:
          type: string
          description: The sensor type.
        status:
          type: string
          description: The status of the data source, e.g. ACTIVE, DEACTIVATED or PAUSED.
          enum:
          - ACTIVE
          - DEACTIVATED
          - PAUSED
        tags:
          type: array
          description: The tags associated with the data source.
          uniqueItems: true
          items:
            type: string
        timezone:
          type: string
          description: An area which observes a uniform standard time.
        zoneId:
          type: string
          description: Identifier of the zone within a site where the data source belongs.
      description: Object containing the editable properties of a Data Source used for bulk edit.
    MapEditable:
      type: object
      required:
      - dataSourceUpdates
      - organizationId
      - siteId
      - zoneUpdates
      properties:
        dataSourceUpdates:
          type: array
          description: List of data source updates
          items:
            $ref: '#/components/schemas/DataSourceBulkEdit'
        organizationId:
          type: string
          description: Unique identifier for the organization, preferably a readable text such as the domain name of the company.
        siteId:
          type: string
          description: Identifier of the site it belongs to, together with the organizationId this is unique.
        zoneUpdates:
          type: array
          description: List of zone updates
          items:
            $ref: '#/components/schemas/ZoneBulkEdit'
      description: Object containing the editable properties of the map of a site within an organization.
    ZoneBulkEdit:
      type: object
      required:
      - uuid
      properties:
        color:
          type: string
          description: Color of the zone in the map
        cropId:
          type: string
          description: Zone's crop type.
        floorArea:
          type: number
          format: double
          description: Zone's floor area in m2.
        name:
          type: string
          description: Name of the zone
        polygon:
          type: array
          description: List of coordinates that define the polygon.
          items:
            type: array
            items:
              type: number
              format: double
          maxItems: 2147483647
          minItems: 4
        soilId:
          type: string
          description: Zone's soil type id.
        uuid:
          type: string
          description: Unique identifier of the zone
      description: Object containing the editable properties of a Zone used for bulk edit.
    DataSourceCoordinatesEditable:
      type: object
      properties:
        coordinateX:
          type: number
          format: double
          description: X coordinate in space
        coordinateY:
          type: number
          format: double
          description: Y coordinate in space
        sinceDate:
          type: string
          description: UTC ISO 8601 timestamp since when, e.g 2024-11-12T15:00:00Z.
      description: Object containing the editable properties of DataSourceCoordinates.
  securitySchemes:
    Bearer:
      description: ''
      type: apiKey
      name: Authorization
      in: header
