openapi: 3.2.0
info:
  version: '2.0'
  title: ZENSIE Sensor Type API
servers:
- url: https://api.30mhz.com/api
tags:
- name: sensor-type
paths:
  /sensor-type/{sensorTypeId}:
    get:
      tags:
      - sensor-type
      summary: Returns the sensor type with the specified type id
      description: Default oauth authentication mechanism required for this operation.
      operationId: getSensorType
      parameters:
      - name: sensorTypeId
        in: path
        required: true
        schema:
          type: string
      security:
      - Bearer: []
      responses:
        '200':
          description: The sensor type with the specified id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SensorType'
            application/zensie-v2+json:
              schema:
                $ref: '#/components/schemas/SensorType'
        '401':
          description: Unauthenticated request, cannot perform operation
          content:
            application/json:
              schema:
                type: string
            application/zensie-v2+json:
              schema:
                type: string
        '404':
          description: A sensor type with that id does not exist
          content:
            application/json:
              schema:
                type: string
            application/zensie-v2+json:
              schema:
                type: string
        '500':
          description: Error obtaining the sensor type persisted data
          content:
            application/json:
              schema:
                type: string
            application/zensie-v2+json:
              schema:
                type: string
    post:
      tags:
      - sensor-type
      summary: Creates new sensor types
      description: Authentication required for this operation, authenticated user has admin role.
      operationId: createSensorType
      parameters:
      - name: sensorTypeId
        in: path
        required: true
        schema:
          type: string
      security:
      - Bearer: []
      responses:
        '201':
          description: New sensor type created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SensorType'
            application/zensie-v2+json:
              schema:
                $ref: '#/components/schemas/SensorType'
        '400':
          description: Sensor type data missing or incomplete.
        '403':
          description: User is not authorized to perform this operation. Should be admin.
        '409':
          description: A sensor type with the given id already exists
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SensorTypeUpdate'
    delete:
      tags:
      - sensor-type
      summary: Remove sensor type
      description: Authentication required for this operation, authenticated user have admin role.
      operationId: deleteSensorType
      parameters:
      - name: sensorTypeId
        in: path
        required: true
        schema:
          type: string
      security:
      - Bearer: []
      responses:
        '204':
          description: Sensor type has been removed.
        '400':
          description: The sensor type is currently used by existing checks and cannot be removed.
        '403':
          description: User is not authorized to perform this operation. Should be admin.
        '404':
          description: Sensor type not found.
  /sensor-type/external/organization/{organizationId}:
    get:
      tags:
      - sensor-type
      summary: Returns all the external sensor types for the given organization
      description: Default oauth authentication mechanism required for this operation.
      operationId: getAllExternalSensorTypesByOrganization
      parameters:
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
      security:
      - Bearer: []
      responses:
        '200':
          description: The list of all external sensor types for the given organization
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SensorType'
            application/zensie-v2+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SensorType'
        '401':
          description: Unauthenticated request, cannot perform operation
          content:
            application/json:
              schema:
                type: string
            application/zensie-v2+json:
              schema:
                type: string
        '403':
          description: User not allowed to perform the operation
        '404':
          description: Organization does not exist
        '500':
          description: Error obtaining the sensor type persisted data
          content:
            application/json:
              schema:
                type: string
            application/zensie-v2+json:
              schema:
                type: string
  /sensor-type/organization/{organizationId}/location/{locationName}:
    get:
      tags:
      - sensor-type
      summary: Returns all the sensor types for the given organization and location
      description: Default oauth authentication mechanism required for this operation.
      operationId: getAllInternalSensorTypesByOrganizationAndLocation
      parameters:
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
      - name: locationName
        in: path
        required: true
        schema:
          type: string
      security:
      - Bearer: []
      responses:
        '200':
          description: The list of all sensor types for the given organization and location
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SensorType'
            application/zensie-v2+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SensorType'
        '401':
          description: Unauthenticated request, cannot perform operation
          content:
            application/json:
              schema:
                type: string
            application/zensie-v2+json:
              schema:
                type: string
        '403':
          description: User not allowed to perform the operation
        '404':
          description: Organization and / or location do not exist
        '500':
          description: Error obtaining the sensor type persisted data
          content:
            application/json:
              schema:
                type: string
            application/zensie-v2+json:
              schema:
                type: string
  /sensor-type/organization/{organizationId}:
    get:
      tags:
      - sensor-type
      summary: Returns all the private sensor types of an organization
      description: Default oauth authentication mechanism required for this operation.
      operationId: getAllPrivateSensorTypes
      parameters:
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
      security:
      - Bearer: []
      responses:
        '200':
          description: The list of all private sensor types
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SensorType'
            application/zensie-v2+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SensorType'
        '401':
          description: Unauthenticated request, cannot perform operation
          content:
            application/json:
              schema:
                type: string
            application/zensie-v2+json:
              schema:
                type: string
        '500':
          description: Error obtaining the sensor type persisted data
          content:
            application/json:
              schema:
                type: string
            application/zensie-v2+json:
              schema:
                type: string
    post:
      tags:
      - sensor-type
      summary: Creates new private sensor type
      description: Authentication required for this operation, authenticated user has admin role or must be an owner/editor of the organization.
      operationId: createPrivateSensorType
      parameters:
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
      security:
      - Bearer: []
      responses:
        '201':
          description: New sensor type created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SensorType'
            application/zensie-v2+json:
              schema:
                $ref: '#/components/schemas/SensorType'
        '400':
          description: Sensor type data missing or incomplete.
        '403':
          description: User is not authorized to perform this operation. Should be admin or organization owner/editor.
        '409':
          description: A sensor type with the given id already exists
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SensorTypeUpdate'
  /sensor-type:
    get:
      tags:
      - sensor-type
      summary: Returns all the public sensor types
      description: Default oauth authentication mechanism required for this operation.
      operationId: getAllPublicSensorTypes
      security:
      - Bearer: []
      responses:
        '200':
          description: The list of all public sensor types
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SensorType'
            application/zensie-v2+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SensorType'
        '401':
          description: Unauthenticated request, cannot perform operation
          content:
            application/json:
              schema:
                type: string
            application/zensie-v2+json:
              schema:
                type: string
        '500':
          description: Error obtaining the sensor type persisted data
          content:
            application/json:
              schema:
                type: string
            application/zensie-v2+json:
              schema:
                type: string
  /sensor-type/all:
    get:
      tags:
      - sensor-type
      summary: Get all sensor types (public and private)
      description: Authentication required for this operation, authenticated user has admin role.
      operationId: getAllSensorTypes
      security:
      - Bearer: []
      responses:
        '201':
          description: The list of all sensor types (public and private)
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SensorType'
            application/zensie-v2+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SensorType'
        '401':
          description: User is not authorized to perform this operation. Should be admin.
        '500':
          description: Error obtaining the sensor type persisted data
  /sensor-type/user/{email}:
    get:
      tags:
      - sensor-type
      summary: Returns all the sensor types a user has access to
      description: Default oauth authentication mechanism required for this operation.
      operationId: getAllUserHasAccessTo
      parameters:
      - name: email
        in: path
        required: true
        schema:
          type: string
      security:
      - Bearer: []
      responses:
        '200':
          description: The list of all the sensor types the user has access to
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SensorType'
            application/zensie-v2+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SensorType'
        '401':
          description: Unauthenticated request, cannot perform operation
          content:
            application/json:
              schema:
                type: string
            application/zensie-v2+json:
              schema:
                type: string
        '500':
          description: Error obtaining the sensor types
          content:
            application/json:
              schema:
                type: string
            application/zensie-v2+json:
              schema:
                type: string
  /sensor-type/external/{sensorTypeId}:
    get:
      tags:
      - sensor-type
      summary: External sensor data template
      description: Authentication required for this operation.
      operationId: getExternalSensorDataTemplate
      parameters:
      - name: sensorTypeId
        in: path
        required: true
        schema:
          type: string
      security:
      - Bearer: []
      responses:
        '200':
          description: External sensor data template.
          content:
            application/json:
              schema:
                type: string
            application/zensie-v2+json:
              schema:
                type: string
        '403':
          description: Not enough permissions to perform the operation. User must be admin.
components:
  schemas:
    SensorType:
      type: object
      required:
      - decimals
      - description
      properties:
        batteryVoltageChargedEnough:
          type: string
        batteryVoltageCritical:
          type: string
        batteryVoltageWarning:
          type: string
        canSleep:
          type: boolean
          description: States if this sensor is able to sleep
        chartColor:
          type: string
        color:
          type: string
        createdAt:
          type: string
        dataTypes:
          type: array
          description: The data types of the json keys (long, double, boolean, string
          items:
            type: string
        decimals:
          type: integer
          format: int32
        description:
          type: string
        enums:
          type: array
          description: The enums (if any) in the sensor data
          items:
            $ref: '#/components/schemas/SensorTypeEnumData'
        external:
          type: boolean
          description: States if the sensor type is external
        hasVoltageInformation:
          type: boolean
        icon:
          type: string
          description: Embedded html that displays the sensor type's icon.
        iconId:
          type: string
          description: Identifier of the sensor type's icon asset.
        isBillable:
          type: boolean
          description: States if the sensor type is billable or not.
        isForManualInput:
          type: boolean
          description: States if the sensor type is for manual input
        jsonKeys:
          type: array
          items:
            type: string
        jsonLabels:
          type: array
          items:
            type: string
        metadata:
          type: string
          description: Describes sensor metadata
        metrics:
          type: array
          items:
            type: string
        name:
          type: string
        notificationTemplates:
          type: array
          description: Notification templates
          items:
            $ref: '#/components/schemas/NotificationTemplate'
        organizationId:
          type: string
        productionStatus:
          type: string
          description: Production status of the sensor
          enum:
          - ACTIVE
          - INACTIVE
          - OBSOLETE
          - OUTGOING
        queryParameters:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
        queryParametersRequired:
          type: boolean
          description: States if the query parameters are required
        radioId:
          type: string
          description: Radio identifier
        rangeMax:
          type: string
          description: Maximum sensor values
        rangeMin:
          type: string
          description: Minimum sensor values
        typeId:
          type: string
        sharedDetails:
          $ref: '#/components/schemas/SharedSensorType'
      description: Authorization entity
    SharedWithUserDetails:
      type: object
      properties:
        firstName:
          type: string
        lastName:
          type: string
    SensorTypeUpdate:
      type: object
      properties:
        batteryVoltageChargedEnough:
          type: string
        batteryVoltageCritical:
          type: string
        batteryVoltageWarning:
          type: string
        canSleep:
          type: boolean
          description: States if this sensor is able to sleep
        chartColor:
          type: string
        color:
          type: string
        dataTypes:
          type: array
          items:
            type: string
        decimals:
          type: integer
          format: int32
          minimum: 0
        description:
          type: string
        enums:
          type: array
          items:
            $ref: '#/components/schemas/SensorTypeEnumData'
        external:
          type: boolean
        hasVoltageInformation:
          type: boolean
        icon:
          type: string
        iconId:
          type: string
        isBillable:
          type: boolean
          description: States if the sensor type is billable or not.
        isForManualInput:
          type: boolean
          description: States if the sensor type is for manual input
        jsonKeys:
          type: array
          items:
            type: string
        jsonLabels:
          type: array
          items:
            type: string
        metadata:
          type: string
          description: Describes sensor metadata
        metrics:
          type: array
          items:
            type: string
        name:
          type: string
        notificationTemplates:
          type: array
          items:
            $ref: '#/components/schemas/NotificationTemplate'
        productionStatus:
          type: string
          description: Production status of the sensor
          enum:
          - ACTIVE
          - INACTIVE
          - OBSOLETE
          - OUTGOING
        queryParameters:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
        queryParametersRequired:
          type: boolean
        radioId:
          type: string
          description: Radio identifier
          minLength: 0
          maxLength: 20
        rangeMax:
          type: string
        rangeMin:
          type: string
      description: Updating sensor type properties
    SharedSensorType:
      type: object
      properties:
        createdAt:
          type: string
          description: The date and time a sensor type was shared.
        organizationId:
          type: string
          description: ID of the organization to which the shared sensor type belongs
        organizationName:
          type: string
        sensorTypeId:
          type: string
          description: Id of the original sensor type
        sharedByUser:
          type: string
          description: User who shared the sensor type
        sharedByUserDetails:
          $ref: '#/components/schemas/SharedByUserDetails'
        sharedSensorTypeId:
          type: string
          description: Id of the shared sensor type itself
        sharedWithGroupId:
          type: string
          description: Group which the sensor type has been shared with
        sharedWithGroupName:
          type: string
        sharedWithOrganizationId:
          type: string
          description: Organization which the sensor type has been shared with
        sharedWithOrganizationName:
          type: string
        sharedWithUser:
          type: string
          description: User who the sensor type has been shared with
        sharedWithUserDetails:
          $ref: '#/components/schemas/SharedWithUserDetails'
    SensorTypeEnumDataMapping:
      type: object
      properties:
        color:
          type: string
        label:
          type: string
        value:
          type: integer
          format: int32
    NotificationTemplate:
      type: object
      properties:
        condition:
          type: string
        frontend:
          type: string
        name:
          type: string
    SensorTypeEnumData:
      type: object
      properties:
        key:
          type: string
        mappings:
          type: array
          items:
            $ref: '#/components/schemas/SensorTypeEnumDataMapping'
    SharedByUserDetails:
      type: object
      properties:
        firstName:
          type: string
        lastName:
          type: string
  securitySchemes:
    Bearer:
      description: ''
      type: apiKey
      name: Authorization
      in: header
