openapi: 3.2.0
info:
  version: '2.0'
  title: ZENSIE Swagger API
servers:
- url: https://api.30mhz.com/api
tags:
- name: Swagger
paths:
  /swagger/integrate.json:
    get:
      tags:
      - Swagger
      summary: Get the integrate JSON
      description: ''
      operationId: getCropSpaceFilteredJson
      responses:
        '200':
          description: JSON retrieved successfully
          content:
            application/json:
              schema:
                type: string
            application/zensie-v2+json:
              schema:
                type: string
        '404':
          description: Resource not found
  /swagger/integrate:
    get:
      tags:
      - Swagger
      summary: Get the integrate swagger definition
      description: ''
      operationId: getCropSpaceFilteredSwagger
      responses:
        '200':
          description: Definition retrieved successfully
          content:
            application/json:
              schema:
                type: string
            application/zensie-v2+json:
              schema:
                type: string
        '404':
          description: Resource not found
        '500':
          description: Internal server error
  /swagger/robocrops:
    get:
      tags:
      - Swagger
      summary: Get the robocrops swagger definition
      description: ''
      operationId: getRobocropsAPIDefinition
      responses:
        '200':
          description: Definition retrieved successfully
          content:
            application/json:
              schema:
                type: string
            application/zensie-v2+json:
              schema:
                type: string
        '404':
          description: Resource not found
        '500':
          description: Internal server error
  /swagger/robocrops.json:
    get:
      tags:
      - Swagger
      summary: Get the robocrops JSON
      description: ''
      operationId: getRobocropsAPIJson
      responses:
        '200':
          description: JSON retrieved successfully
          content:
            application/json:
              schema:
                type: string
            application/zensie-v2+json:
              schema:
                type: string
        '404':
          description: Resource not found
components:
  securitySchemes:
    Bearer:
      description: ''
      type: apiKey
      name: Authorization
      in: header
