openapi: 3.2.0
info:
  version: '2.0'
  title: ZENSIE Share Sensor Type API
servers:
- url: https://api.30mhz.com/api
tags:
- name: share-sensor-type
paths:
  /share-sensor-type/shared-by/organization/{organizationId}:
    get:
      tags:
      - share-sensor-type
      summary: Returns all sensor types shared by an organization
      description: Default oauth authentication mechanism required for this operation.
      operationId: getSharedByOrganization
      parameters:
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
      security:
      - Bearer: []
      responses:
        '200':
          description: Shared sensor types
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SharedSensorType'
            application/zensie-v2+json:
              schema:
                $ref: '#/components/schemas/SharedSensorType'
        '403':
          description: User must be an admin or an organization editor/owner.
  /share-sensor-type/{sensorTypeId}/shared-with:
    get:
      tags:
      - share-sensor-type
      summary: Get shared information about the sensor type
      description: Authentication required for this operation.
      operationId: getSharedSensorTypeSharedWith
      parameters:
      - name: sensorTypeId
        in: path
        required: true
        schema:
          type: string
      security:
      - Bearer: []
      responses:
        '200':
          description: Sensor type shared with information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SensorType'
            application/zensie-v2+json:
              schema:
                $ref: '#/components/schemas/SensorType'
        '403':
          description: User must match be admin or owner/editor of the sensor type's organization.
        '500':
          description: Sorry, there was a problem retrieving the shared information.
  /share-sensor-type/sensor-type/{sensorTypeId}/group/{groupId}:
    post:
      tags:
      - share-sensor-type
      summary: Share a sensor type with a group
      description: Authentication required for this operation.
      operationId: shareSensorTypeWithGroup
      parameters:
      - name: sensorTypeId
        in: path
        required: true
        schema:
          type: string
      - name: groupId
        in: path
        required: true
        schema:
          type: string
      security:
      - Bearer: []
      responses:
        '200':
          description: Sensor type shared
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SharedSensorType'
            application/zensie-v2+json:
              schema:
                $ref: '#/components/schemas/SharedSensorType'
        '403':
          description: User must be an admin or an organization editor/owner.
        '500':
          description: Sorry, there was a problem sharing the sensor type.
      requestBody:
        content:
          application/json:
            schema:
              type: object
  /share-sensor-type/sensor-type/{sensorTypeId}/organization/{organizationId}:
    post:
      tags:
      - share-sensor-type
      summary: Share a sensor type with an organization
      description: Authentication required for this operation.
      operationId: shareSensorTypeWithOrganization
      parameters:
      - name: sensorTypeId
        in: path
        required: true
        schema:
          type: string
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
      security:
      - Bearer: []
      responses:
        '200':
          description: Sensor type shared
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SharedSensorType'
            application/zensie-v2+json:
              schema:
                $ref: '#/components/schemas/SharedSensorType'
        '403':
          description: User must be an admin or an organization editor/owner.
        '500':
          description: Sorry, there was a problem sharing the sensor type.
      requestBody:
        content:
          application/json:
            schema:
              type: object
  /share-sensor-type/sensor-type/{sensorTypeId}/user/{email}:
    post:
      tags:
      - share-sensor-type
      summary: Share a sensor type with a user
      description: Authentication required for this operation.
      operationId: shareSensorTypeWithUser
      parameters:
      - name: sensorTypeId
        in: path
        required: true
        schema:
          type: string
      - name: email
        in: path
        required: true
        schema:
          type: string
      security:
      - Bearer: []
      responses:
        '200':
          description: Sensor type shared
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SharedSensorType'
            application/zensie-v2+json:
              schema:
                $ref: '#/components/schemas/SharedSensorType'
        '403':
          description: User must be an admin or an organization editor/owner.
        '500':
          description: Sorry, there was a problem sharing the sensor type.
      requestBody:
        content:
          application/json:
            schema:
              type: object
  /share-sensor-type/group/{groupId}:
    get:
      tags:
      - share-sensor-type
      summary: Get shared sensor types with a group
      description: Authentication required for this operation.
      operationId: sharedSensorTypesWithGroup
      parameters:
      - name: groupId
        in: path
        required: true
        schema:
          type: string
      security:
      - Bearer: []
      responses:
        '200':
          description: Shared sensor types
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SensorType'
            application/zensie-v2+json:
              schema:
                $ref: '#/components/schemas/SensorType'
        '403':
          description: User must be an admin or a group editor/owner.
        '500':
          description: Sorry, there was a problem retrieving the shared sensor types.
  /share-sensor-type/organization/{organizationId}:
    get:
      tags:
      - share-sensor-type
      summary: Get shared sensor types with an organization
      description: Authentication required for this operation.
      operationId: sharedSensorTypesWithOrganization
      parameters:
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
      security:
      - Bearer: []
      responses:
        '200':
          description: Shared sensor types
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SensorType'
            application/zensie-v2+json:
              schema:
                $ref: '#/components/schemas/SensorType'
        '403':
          description: User must be an admin or an organization editor/owner.
        '500':
          description: Sorry, there was a problem retrieving the shared sensor types.
  /share-sensor-type/user/{email}:
    get:
      tags:
      - share-sensor-type
      summary: Get shared sensor types shared with a user
      description: Authentication required for this operation.
      operationId: sharedSensorTypesWithUser
      parameters:
      - name: email
        in: path
        required: true
        schema:
          type: string
      security:
      - Bearer: []
      responses:
        '200':
          description: Shared sensor types
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SensorType'
            application/zensie-v2+json:
              schema:
                $ref: '#/components/schemas/SensorType'
        '403':
          description: User must match the email or be admin.
        '500':
          description: Sorry, there was a problem retrieving the shared sensor types.
  /share-sensor-type/{sharedSensorTypeId}:
    delete:
      tags:
      - share-sensor-type
      summary: Unshare a sensor type
      description: Authentication required for this operation.
      operationId: unshareSensorType
      parameters:
      - name: sharedSensorTypeId
        in: path
        required: true
        schema:
          type: string
      security:
      - Bearer: []
      responses:
        '200':
          description: Sensor type unshared
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SharedSensorType'
            application/zensie-v2+json:
              schema:
                $ref: '#/components/schemas/SharedSensorType'
        '403':
          description: User must be an admin or an organization editor/owner.
        '500':
          description: Sorry, there was a problem unsharing the sensor type.
components:
  schemas:
    SensorType:
      type: object
      required:
      - decimals
      - description
      properties:
        batteryVoltageChargedEnough:
          type: string
        batteryVoltageCritical:
          type: string
        batteryVoltageWarning:
          type: string
        canSleep:
          type: boolean
          description: States if this sensor is able to sleep
        chartColor:
          type: string
        color:
          type: string
        createdAt:
          type: string
        dataTypes:
          type: array
          description: The data types of the json keys (long, double, boolean, string
          items:
            type: string
        decimals:
          type: integer
          format: int32
        description:
          type: string
        enums:
          type: array
          description: The enums (if any) in the sensor data
          items:
            $ref: '#/components/schemas/SensorTypeEnumData'
        external:
          type: boolean
          description: States if the sensor type is external
        hasVoltageInformation:
          type: boolean
        icon:
          type: string
          description: Embedded html that displays the sensor type's icon.
        iconId:
          type: string
          description: Identifier of the sensor type's icon asset.
        isBillable:
          type: boolean
          description: States if the sensor type is billable or not.
        isForManualInput:
          type: boolean
          description: States if the sensor type is for manual input
        jsonKeys:
          type: array
          items:
            type: string
        jsonLabels:
          type: array
          items:
            type: string
        metadata:
          type: string
          description: Describes sensor metadata
        metrics:
          type: array
          items:
            type: string
        name:
          type: string
        notificationTemplates:
          type: array
          description: Notification templates
          items:
            $ref: '#/components/schemas/NotificationTemplate'
        organizationId:
          type: string
        productionStatus:
          type: string
          description: Production status of the sensor
          enum:
          - ACTIVE
          - INACTIVE
          - OBSOLETE
          - OUTGOING
        queryParameters:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
        queryParametersRequired:
          type: boolean
          description: States if the query parameters are required
        radioId:
          type: string
          description: Radio identifier
        rangeMax:
          type: string
          description: Maximum sensor values
        rangeMin:
          type: string
          description: Minimum sensor values
        typeId:
          type: string
        sharedDetails:
          $ref: '#/components/schemas/SharedSensorType'
      description: Authorization entity
    SharedWithUserDetails:
      type: object
      properties:
        firstName:
          type: string
        lastName:
          type: string
    SharedSensorType:
      type: object
      properties:
        createdAt:
          type: string
          description: The date and time a sensor type was shared.
        organizationId:
          type: string
          description: ID of the organization to which the shared sensor type belongs
        organizationName:
          type: string
        sensorTypeId:
          type: string
          description: Id of the original sensor type
        sharedByUser:
          type: string
          description: User who shared the sensor type
        sharedByUserDetails:
          $ref: '#/components/schemas/SharedByUserDetails'
        sharedSensorTypeId:
          type: string
          description: Id of the shared sensor type itself
        sharedWithGroupId:
          type: string
          description: Group which the sensor type has been shared with
        sharedWithGroupName:
          type: string
        sharedWithOrganizationId:
          type: string
          description: Organization which the sensor type has been shared with
        sharedWithOrganizationName:
          type: string
        sharedWithUser:
          type: string
          description: User who the sensor type has been shared with
        sharedWithUserDetails:
          $ref: '#/components/schemas/SharedWithUserDetails'
    SensorTypeEnumDataMapping:
      type: object
      properties:
        color:
          type: string
        label:
          type: string
        value:
          type: integer
          format: int32
    NotificationTemplate:
      type: object
      properties:
        condition:
          type: string
        frontend:
          type: string
        name:
          type: string
    SensorTypeEnumData:
      type: object
      properties:
        key:
          type: string
        mappings:
          type: array
          items:
            $ref: '#/components/schemas/SensorTypeEnumDataMapping'
    SharedByUserDetails:
      type: object
      properties:
        firstName:
          type: string
        lastName:
          type: string
  securitySchemes:
    Bearer:
      description: ''
      type: apiKey
      name: Authorization
      in: header
