openapi: 3.2.0
info:
  version: '2.0'
  title: ZENSIE Export Partner Update API
servers:
- url: https://api.30mhz.com/api
tags:
- name: export-partner-update
paths:
  /export-partner-update/{exportPartnerId}/organization/{organizationId}:
    post:
      tags:
      - export-partner-update
      summary: Update export partner record
      description: 'Authentication required for this operation.

        Preconditions:


        Authenticated user has to be an admin in the platform.'
      operationId: updateExportPartner
      parameters:
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
      - name: exportPartnerId
        in: path
        required: true
        schema:
          type: string
      security:
      - Bearer: []
      responses:
        '200':
          description: New export partner record updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExportPartner'
            application/zensie-v2+json:
              schema:
                $ref: '#/components/schemas/ExportPartner'
        '403':
          description: Not enough permissions to perform this operation
        '404':
          description: Organization with that id doesn't exist or the export partner record does not exist.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExportPartnerUpdate'
components:
  schemas:
    ExportPartnerData:
      type: object
      required:
      - id
      properties:
        description:
          type: string
        id:
          type: integer
          format: int32
        items:
          type: array
          uniqueItems: true
          items:
            $ref: '#/components/schemas/ExportPartnerDataItem'
        name:
          type: string
    ExportPartnerUpdate:
      type: object
      properties:
        data:
          type: array
          description: The json data of export partner.
          items:
            $ref: '#/components/schemas/ExportPartnerData'
        description:
          type: string
          description: The description of export partner.
        exportPartnerURL:
          type: string
          description: The url of export partner.
      description: ExportPartnerUpdate
    ExportPartner:
      type: object
      properties:
        createdAt:
          type: string
          description: The date and time a export partner was created.
        data:
          type: array
          description: The json data of export partner.
          items:
            $ref: '#/components/schemas/ExportPartnerData'
        description:
          type: string
          description: The description of export partner.
        exportPartnerId:
          type: string
          description: Export partner id.
        exportPartnerURL:
          type: string
          description: The url of export partner.
        organizationId:
          type: string
          description: UUID of the check
        updatedAt:
          type: string
          description: The date and time a export partner was last updated.
      description: ExportPartner
    ExportPartnerDataItem:
      type: object
      required:
      - id
      properties:
        description:
          type: string
        id:
          type: integer
          format: int32
        name:
          type: string
  securitySchemes:
    Bearer:
      description: ''
      type: apiKey
      name: Authorization
      in: header
