openapi: 3.2.0
info:
  version: '2.0'
  title: ZENSIE Export Partner Job Update API
servers:
- url: https://api.30mhz.com/api
tags:
- name: export-partner-job-update
paths:
  /export-partner-job-update/{jobId}/organization/{organizationId}:
    post:
      tags:
      - export-partner-job-update
      summary: Update export partner job
      description: ''
      operationId: updateExportPartnerJob
      parameters:
      - name: jobId
        in: path
        required: true
        schema:
          type: string
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
      security:
      - Bearer: []
      responses:
        '200':
          description: New export partner job record updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExportPartnerJob'
            application/zensie-v2+json:
              schema:
                $ref: '#/components/schemas/ExportPartnerJob'
        '403':
          description: Not enough permissions to perform this operation
        '404':
          description: The export partner job record does not exist.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExportPartnerJobUpdate'
components:
  schemas:
    ExportPartnerAccess:
      type: object
      required:
      - expiresAt
      - expiresIn
      properties:
        expires:
          type: string
        expiresAt:
          type: integer
          format: int32
        expiresIn:
          type: integer
          format: int32
        issued:
          type: string
        token:
          type: string
        tokenType:
          type: string
    ExportPartnerJob:
      type: object
      required:
      - active
      - frequency
      properties:
        active:
          type: boolean
          description: States if the export partner job is active.
        createdAt:
          type: string
          description: The date and time a export partner job was created.
        description:
          type: string
          description: The description of export partner job.
        exportPartnerAccess:
          description: The access token of export partner.
          $ref: '#/components/schemas/ExportPartnerAccess'
        exportPartnerId:
          type: string
          description: Export partner id.
        exportPartnerURL:
          type: string
          description: The url of export partner.
        frequency:
          type: integer
          format: int32
          description: The frequency of export partner job.
        jobId:
          type: string
          description: The id of the export partner job.
        organizationId:
          type: string
          description: Organization of the export partner job
        payload:
          type: array
          description: The payload of export partner job.
          items:
            $ref: '#/components/schemas/ExportPartnerJobMap'
        updatedAt:
          type: string
          description: The date and time a export partner job was last updated.
      description: ExportPartnerJob
    ExportPartnerData:
      type: object
      required:
      - id
      properties:
        description:
          type: string
        id:
          type: integer
          format: int32
        items:
          type: array
          uniqueItems: true
          items:
            $ref: '#/components/schemas/ExportPartnerDataItem'
        name:
          type: string
    ExportPartnerJobUpdate:
      type: object
      properties:
        active:
          type: boolean
          description: States if the export partner job is active.
        description:
          type: string
          description: The description of export partner job.
        exportPartnerAccess:
          description: The access token of export partner.
          $ref: '#/components/schemas/ExportPartnerAccess'
        frequency:
          type: integer
          format: int32
          description: The frequency of export partner job.
        payload:
          type: array
          description: The payload of export partner job.
          items:
            $ref: '#/components/schemas/ExportPartnerJobMap'
      description: ExportPartnerJobUpdate
    ExportPartnerJobMap:
      type: object
      required:
      - exportPartnerData
      properties:
        checkId:
          type: string
        checkJsonKey:
          type: string
        exportPartnerData:
          $ref: '#/components/schemas/ExportPartnerData'
    ExportPartnerDataItem:
      type: object
      required:
      - id
      properties:
        description:
          type: string
        id:
          type: integer
          format: int32
        name:
          type: string
  securitySchemes:
    Bearer:
      description: ''
      type: apiKey
      name: Authorization
      in: header
